 <!DOCTYPE html>
<!-- Template by html.am -->
<html style="font-size: 16px;" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="description" content="Music Composers, Composers">
		<title>Composium</title>
		<link rel="icon" href="/static/images/favicon.png">
	</head>
	
	<body>

		<main>
			<h1 class="title-big">Composium</h1>
			<div class="innertube">
				
				<h1 style="color: var(--accent-complement-dark);">Main Composers</h1>
				<p><script > generateText(40) </script></p>
				
			</div>
		</main>

		<nav id="nav">
			<div class="innertube">
				<h1><a href="/">Home</a></h1>
				<h1><a href="/compositores">Classical Music Composers</a></h1>
				<h1><a href="/periodos">Eras of Classical Music</a></h1>
				<h1><a href="/CRUD">CRUD Operations</a></h1>
				<h1><a href="/about">About this Work</a></h1>
			</div>
		</nav>	

		<footer id="footer">
			<div id="logo">
				<p>&copy; Copyright <a href="https://github.com/MayorX500">Miguel Gomes</a> &#124; <a href="#">Terms of Use</a> &#124; <a href="#">Privacy Policy</a></p>
			</div>
		</footer>
		
	</body>
</html>
