<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>American Cinema</title>
    <link rel="icon" href="/static/images/favicon.ico">

    
    <meta name="theme-color" content="#3151aa">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
  <meta data-intl-tel-input-cdn-path="/static/intlTelInput/"></head>
  <body data-home-page-title="Home" data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-5a30" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/about" style="padding: 10px 20px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Contact</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Contact</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div><style class="u-sticky-style" data-style-id="2321">.u-sticky-fixed.u-sticky-2321:before, .u-body.u-sticky-fixed .u-sticky-2321:before {
borders: top right bottom left !important; border-color: #ffffff !important; border-width: 2px !important
}</style></header>
    <section class="u-align-center u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-image u-section-1" id="carousel_af4f" data-image-width="1142" data-image-height="818">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-font-lobster u-text u-text-default u-text-white u-title u-text-1">American Cinema<br>
        </h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-href="/atores">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-center u-icon u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 55 55" style=""><use xlink:href="#svg-ea98"></use></svg><svg class="u-svg-content" viewBox="0 0 55 55" x="0px" y="0px" id="svg-ea98" style="enable-background:new 0 0 55 55;"><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752
	c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348
	c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98
	c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033
	c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55
	c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287
	c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104
	c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1
	c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764
	l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5
	c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957
	c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545
	c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.52,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8
	s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.346-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545
	c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313
	c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z"></path></svg></span>
                <lt-highlighter style="display: none; z-index: 1 !important;" class="lt-highlighter--grid-item">
                  <lt-div spellcheck="false" class="lt-highlighter__wrapper" style="width: 315px; height: 36px; transform: none !important; transform-origin: 157.658px 18px 0px !important; margin-top: 203px; margin-left: 29px;">
                    <lt-div class="lt-highlighter__scroll-element" style="top: 0px; left: 0px; width: 315px; height: 37px;"></lt-div>
                  </lt-div>
                </lt-highlighter>
                <h3 class="u-align-center u-text u-text-body-alt-color u-text-2">Actors </h3>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-custom-item u-list-item u-palette-2-base u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-href="/filmes">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-text-white u-icon-2"><img src="/static/images/1179120-f50f7ec5.png" alt=""></span>
                <lt-highlighter style="display: none; z-index: 1 !important;" class="lt-highlighter--grid-item">
                  <lt-div spellcheck="false" class="lt-highlighter__wrapper" style="width: 315px; height: 36px; transform: none !important; transform-origin: 157.658px 18px 0px !important; margin-top: 203px; margin-left: 29px;">
                    <lt-div class="lt-highlighter__scroll-element" style="top: 0px; left: 0px; width: 315px; height: 37px;"></lt-div>
                  </lt-div>
                </lt-highlighter>
                <h3 class="u-align-center u-text u-text-body-alt-color u-text-3"> Movies<br>
                </h3>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-custom-item u-list-item u-palette-3-base u-repeater-item u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-href="/generos">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-text-white u-icon-3"><img src="/static/images/151917-2012499c.png" alt=""></span>
                <lt-highlighter style="display: none; z-index: 1 !important;" class="lt-highlighter--grid-item">
                  <lt-div spellcheck="false" class="lt-highlighter__wrapper" style="width: 315px; height: 36px; transform: none !important; transform-origin: 157.658px 18px 0px !important; margin-top: 203px; margin-left: 29px;">
                    <lt-div class="lt-highlighter__scroll-element" style="top: 0px; left: 0px; width: 315px; height: 37px;"></lt-div>
                  </lt-div>
                </lt-highlighter>
                <h3 class="u-align-center u-text u-text-body-alt-color u-text-4">Genres </h3>
              </div>
            </div>
          </div>
        </div>
        </p>
      </div>
    </section>
    <section class="u-clearfix u-palette-1-base u-section-2" id="sec-1caf">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-left-cell u-size-38-lg u-size-38-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <lt-highlighter style="display: none; z-index: 1 !important;" class="lt-highlighter--grid-item">
                    <lt-div spellcheck="false" class="lt-highlighter__wrapper" style="width: 692px; height: 106px; transform: none !important; transform-origin: 346px 52.8px 0px !important; margin-top: 56px; margin-left: 30px;">
                      <lt-div class="lt-highlighter__scroll-element" style="top: 0px; left: 0px; width: 692px; height: 108px;"></lt-div>
                    </lt-div>
                  </lt-highlighter>
                  <h2 class="u-align-center-md u-align-center-sm u-align-center-xs u-heading-font u-text u-text-white u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Listing all American movies since 1900.<br>
                  </h2>
                </div>
              </div>
              <div class="u-align-right u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-right-cell u-similar-fill u-size-22-lg u-size-22-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <a href="/about" class="u-align-center u-border-active-palette-2-light-2 u-border-hover-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-custom u-palette-1-dark-2 u-radius-50 u-text-active-white u-text-hover-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">Want to know how? </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-palette-2-base u-footer" id="sec-6363"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Made with 💌. Miguel Gomes ®️ .</p>
      </div></footer>
  
</body></html>
