doctype html
html(style="font-size: 16px;" lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="description" content="Music Composers, Composers")
    title= title
    link(rel="icon" href="/static/images/favicon.png")
    link(rel="stylesheet" href="/static/css/style.css")
    link(rel="stylesheet" href="/static/css/GFont_Lobster.css")
    link(rel="stylesheet" href="/static/css/GFont_Montserrat.css")
    script(src="/static/js/functions.js")
  body
    block content

