nav#nav
    .innertube
        h1: a(href="/") Home
        h1: a(href="/compositores") Classical Music Composers
        h1: a(href="/periodos") Eras of Classical Music
        h1: a(href="/CRUD") CRUD Operations
        h1: a(href="/about") About this Work