nav
  #rightmenu
    .innertube
      h1(style="font-size: 30px") Composers
      h1 ----------------------
      h1: a(href="/compositores/edit") Edit Classical Music Composers
      h1: a(href="/compositores/add") Add Classical Music Composers
      h1: a(href="/compositores/delete") Delete Classical Music Composers
      h1
      h1(style="font-size: 30px") Periods
      h1 ----------------------
      h1: a(href="/periodos/edit") Edit Eras of Classical Music
      h1: a(href="/periodos/add") Add Eras of Classical Music
      h1: a(href="/periodos/delete") Delete Eras of Classical Music